body {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: 1fr 2fr 1fr;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.blok1 {
    display: grid;
    grid-template-areas:
        "hed"
        "cont_top";
    grid-template-rows: 0.5fr 1fr;
    grid-area: header;
    background-color: #9d4edd;
    padding: 20px;
    text-align: center;
}

.hed {
    grid-area: hed;
    color: white;
}

.cont_top {
    grid-area: cont_top;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 5fr;
}

.ts1 {
    font-size: 16px;
    text-align: right;
    padding: 1%;
    color: white;
}

.blokX {
    text-align: left;
    align-self: center;
    background-color: white;
    padding: 10px;
}
.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: #ff5d8f;
    padding: 20px;
}

.blok3 {
    background-color: #9ef01a;
    padding: 20px;
    text-align: right;
    align-items: center;
}

.blok4 {
    background-color: white;
    padding: 20px;
    text-align: left;
    align-items: center;
    font-size: 18px;
}

.main {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.blok4_blok5 {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.blok5 {
    position: relative;
    background-color: #ff5d8f;
}

.blok6 {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-area: footer;
    background-color: #9d4edd;
    padding: 20px;
    align-items: center;
    grid-template-columns: 5fr 1fr;
}

.image-size {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blokY {
    text-align: left;
    align-self: center;
    background-color: white;
    padding: 10px;
}

.ts6 {
    font-size: 16px;
    align-items: center;
    text-align: left;
    padding: 1%;
    color: white;
}
